h1 {
    margin-top: 71px;
    margin-left: 20px;   
    width: 386px;
    height: 118px; 
    position: absolute;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
/* or 133% */

    text-align: center;

    color: #FFFFFF;
}
.h2-hero {
    margin-top: 236px;
    width: 426px;
    height: 56px;
    position: absolute;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
/* or 133% */

    text-align: center;

    color: rgba(255, 255, 255, 0.7);
}