.container-footer{
    display: grid;
    position: absolute;
    grid-template-columns: repeat(3, 1fr);
}
.footer-style{
    display: grid;
    position: relative;
    width: 100%;
    height: 170px;
    margin-left: -8px;
    top: 2358px;
    background: #464547;
    background-size: 1920px;

}
.footer-img{
    position: relative;
    left: -36px;
    right: 0%;
    top: 19px;
    bottom: 0%;
}

.footer-project{
    display: grid;
    position: relative;
    width: 92px;
    height: 16px;
    left: 181px;
    top: 6px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    /* identical to box height, or 89% */

    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #FFFFFF;
}
.footer-text{
    display: grid;
    position: relative;
    width: 274px;
    height: 33px;
    left: 140px;
    top: 51px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
/* or 119% */


    color: rgba(255, 255, 255, 0.4);
}
.italic-footer{
    display: grid;
    position: relative;
}