.hero {
    position: absolute;
    width: 100%;
    height: 1080px;
    background-size: 1920px 1080px;
    background-image: url("../assets/Desktop_Backgrounds_1920x1200_6\ 3.png");
    background-repeat: no-repeat;
    z-index: -1;
    background-position: bottom right;
    margin-left: -10px;
    margin-top: -10px;
}
div.hero_block {
    position: absolute;
    width: 426px;
    height: 292px;
    margin-top: 274px;
    margin-left: 543px;

}
.image-hero{
position: absolute;
width: 63px;
height: 63px;
margin-left: 182px;

}
