.learn-more{
    position: absolute;
    width: 100%;
    height: 666px;
    left: -5px;
    top: 1700px;
    
    background:  url("../assets/IMG_1334_72dpi_RGB_\ 1.png");
    background-repeat: no-repeat;
    background-size: 1920px;
}

.bg{
    position: absolute;
    background: rgba(140, 79, 42, 0.3);
    width: 100%;
    height: 100%;
}
.learn-more-content-box{
    margin-left: 140px;
    width: 432px;
    position: absolute;
}
.h2-learn-more{
    position: absolute;
    width: 480px;
    height: 117px;
    left: 360px;
    top: 84px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
/* or 133% */

    text-align: center;

    color: #FFFFFF;
}
.button-learn-more{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 525px;
    top: 254px;
    border-radius: 50%;
    background: #39C2D7; 
    z-index: 1;
    background-image: url(../assets/Learn-more__button.png);
}
.h3-learn-more{
    position: absolute;
    width: 390px;
    height: 102px;
    left: 395px;
    top: 474px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
/* or 133% */

    text-align: center;

    color: #FFFFFF;
}

