.main {
    position: absolute;
    width: 100%;
    height: 700px;
    margin-top: 990px;
    background-size: 1920px 1080px;
    margin-left: 150px;
}
.main-h3{
    position: absolute;
    width: 669px;
    height: 119px;
    margin-left: 265px;
    margin-top: 87px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
/* or 133% */

    text-align: center;

    color: #464547;
}
.main-h4{
    position: absolute;
    width: 426px;
    height: 57px;
    margin-left: 407px;
    margin-top: 246px;
    
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    
    text-align: center;
    
    color: #666666;
    }
.container-main {
    position: absolute;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 83px;
    } 

.main-p{
    position: relative;
    display: grid;
    width: 450px;
    height: 194px;
    left: 97px;
    top: 351px;
    
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
/* or 138% */
    color: #000000;
    }
 

.button-main{
    position: absolute;
    width: 115px;
    height: 36px;
    left: 542px;
    top: 566px;
    background: #55C2D8;
    border-radius: 18px;
    border: none;
    font-family: 'Oswald Regular';
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
/* or 186% */

    text-align: center;


    color: #FFFFFF;
}

