.container {
    display: grid;
    width: 100%;
    margin-bottom: 0px;
    position: absolute;
    left: 0;
    top: 45px;
    margin-left: 300px;
    grid-template-columns: auto auto auto auto;
    color: #FFFFFF;
}
.grid-item {
    display: inline-grid;
    position: relative;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-right: 20px;
    color: #FFFFFF;
}
a{
    color:#FFFFFF;
    text-decoration: none;
    
}

.about::after {
    content: '';
    height: 1px;
    width: 80px;
    background: #FFFFFF;
    position: absolute;
    left: 50%;
    bottom: -2px;
    margin-left: -40px;
    }
    .trinagle{
    z-index: -1;

    }

